
header {
  text-align: center;
  background-color: #d6e6f2; 
  padding:15px; 
  margin:10px;
  border-radius:20px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: blue;
}
            
a:hover {
    color: red;
}
              
table, td, th {
    border: 1px solid;
    border-collapse: collapse;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #555;
}

img {
    display:block;
    margin:auto;
}

.container div{
    width:30%;
    float:left;
}

.header {
    text-align:center;
    font-family: helvetica;
}

.flex-container {
    display:flex;
    background-color: #d6e6f2;
    margin: 20px;
    border-radius:20px;
}

.flex-container > div{
    border-radius:20px;
    margin:10px;
    padding: 15px;
    background-color: lightblue;
    border: 2px solid white;
}
